.body_calculator {
    
    display: inline-flex;
    background-color: #222222;
    padding: 15px;
    border-radius: 15px;

}

.grid_calculator {

    display: grid;
    background-color: #222222;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px;
    gap: 10px; 

}

.tombol {

    background-color: grey;
    border-radius: 10px;

}

body {
    display: flex;
    justify-content: center;
}


