.body_calculator {
    
    display: inline-flex;
    background-color: #222222;
    padding: 15px;
    border-radius: 15px;

}

.grid_calculator {

    display: grid;
    background-color: #222222;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px;
    gap: 10px; 

}

.tombol {

    background-color: grey;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.output {
    background-color: white;
    border-radius: 10px;
    grid-column: span 4;
    
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 540;
    font-size: 20px;

}


